.navbar {
  width: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.navbar-brand {
  color: white;
  display: flex;
  align-items: center;
}

.navbar-menu ul {
  gap: 50px;
}

.navbar-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  list-style-type: none;
}
.navbar-menu-items li a {
  color: white;
  justify-content: space-between;
  text-decoration: none;
}

.navbar-brand a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

